* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica,  Arial;
}
main {
    width: 60vw;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding: 30px;
    margin: 20px 20px;
    color: #4b658a;
}

.players {
    display: flex;
}

.img-human-player, .img-computer-player {
    width: 110px;
    opacity: .2;
}

.img-human-player {
    cursor: pointer;
}

.img-human-player:hover {
    opacity: 1;
}

.class-assistant-img-human-player {
    width: 110px;
    opacity: 1;
}

.human-player {
    width: 360px;
    padding: 20px;
    background-color: #74b9ff;
    border-radius: 10px;
}

#options-human-player {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.vs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: 40px;
    font-weight: 700;
}

.computer-player {
    width: 360px;
    height: auto;
    padding: 20px;
    background-color: #ff7675;
    border-radius: 10px;
}

#points-computer-player {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#options-computer-player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#name-computer-player {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#information {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    padding: 30px;
    background-color: #7f8fa6;
    margin-top: 20px;
    color: #FFFFFF;
    width: 100%;
}

#name-computer-player,
#name-human-player,
#points-computer-player,
#points-human-player
{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
}

#points-computer-player,
#points-human-player {
    font-size: 56px;
}

@media screen and (max-width: 991px) {
    main {
        width: 100vw;
    }

    .human-player {
        width: 60vw;
    }

    .computer-player {
        width: 60vw;
    }
}

@media screen and (max-width: 767px) {
    #name-human-player, #name-computer-player {
        display: none;
    }

    #points-human-player {
        text-align: center;
    }

    #points-computer-player {
        align-items: center;
    }
}
